# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# *.txt
# *.json
# */*.json
*.zip
*.bkp
*$py.class
*.pt
*.pth
*.gz
data/bin_MNIST/
# C extensions
*.so
# *.png
**/.DS_Store
*.ckpt
*.npy
# *.pdf
*.npz
*.csv
__pycache__/
*.py[cod]
*$py.class
examples/models/
examples/runs/
data/CIFAR10/
# Distribution / packaging
.Python
# data/
data/adult/
data/beijing/
data/default/
data/magic/
data/news/
data/shoppers/
data/sim_lu/
data/sim_lg/
data/sim_nn/
data/sim_poly_g/
data/sim_sg/
data/sim1/
synthetic/sim_lg_deepflow
synthetic/sim_lg_deepsleep
runner/

!result/
