# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.zip
*.bkp
*$py.class
*.pt
*.pth
*.gz
# C extensions
*.so
**/.DS_Store
*.ckpt
*.npy
*.pdf
*.npz
*.csv
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
data/adult/
data/beijing/
data/default/
data/magic/
data/news/
data/shoppers/
data/sim_lu/
data/sim_lg/
data/sim_nn/
data/sim_poly_g/
data/sim_sg/
data/sim1/
result/*
eval_llms/result/*/*.txt